
modLoader = "javafml"
loaderVersion = "${loader_version_range}" 
license = "${mod_license}"

[[mods]] 
modId = "${mod_id}" 
version = "${mod_version}" 
displayName = "${mod_name}" 
logoFile="assets/visibletraders/icon.png" 
authors = "${mod_authors}"
description = "A mod that allows the player to view locked villager trades"

[[dependencies."${mod_id}"]] 
modId = "forge"
mandatory = true
versionRange = "${forge_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true
versionRange = "[1.20.1,1.22)"
ordering = "NONE"
side = "BOTH"

[[accessTransformers]]
file="META-INF/accesstransformer.cfg"